extends layout

block content
    main
      // component template
      script(type="text/x-template" id="grid-template").
        <div>
          <p>
            Total: ${ filteredData.length }
          </p>
          <table>
            <thead>
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)"
                  :class="{ active: sortKey == key }">
                  ${ key | capitalize }
                  <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                  <span v-if="key == 'ticker'" v-bind:title="entry['company']">
                    ${ entry[key] }
                  </span>
                  <span v-else-if="key == 'predict'" v-html="entry[key]"></span>
                  <span v-else>
                    ${ entry[key] }
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      // demo root element
      div#app.
        <div>
          Filter: <input name="query" v-model="searchQuery">
          <br>
          Since: <datepicker @selected="updateSince" format="yyyyMMdd"></datepicker>
          End: <datepicker @selected="updateEnd" format="yyyyMMdd"></datepicker>
          <button class="search" @click="fetch">Search</button>
        </div>
        <news-grid
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery">
        </news-grid>



block scripts
  // all .js
  script(src="https://cdn.jsdelivr.net/npm/vue")
  script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5")
  script(src=url_for("/dist/js/app.js"))
