extends layout

block content
  nav
    h2 Stock Prediction
  main
    // component template
    script(type="text/x-template" id="grid-template").
      <div>
        <p class="grid-total-row">
          Total rows: ${ filteredData.length }
        </p>
        <table>
          <thead>
            <tr>
              <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                ${ key | capitalize }
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
              </th>
            </tr>
          </thead>
          <tbody v-if="filteredData.length">
            <tr v-for="entry in filteredData">
              <td v-for="key in columns" v-bind:class="{'text-center': key != 'title'}">
                <span v-if="key == 'company'" v-bind:title="entry['ticker']">
                  ${ entry[key] }
                </span>
                <span v-else-if="key == 'predict'" v-html="entry[key]"></span>
                <span v-else>
                  ${ entry[key] }
                </span>
              </td>
            </tr>
          </tbody>
          <div v-else><em>No results available for this date range.</em></div>
        </table>
      </div>

    // demo root element
    div#app.
      <div class="control-menu">
        <div class="inline-item">
          Since: <datepicker v-model="since" format="yyyyMMdd"></datepicker>
        </div>
        <div class="inline-item">
          End: <datepicker v-model="end" format="yyyyMMdd"></datepicker>
        </div>
        <div class="inline-item">
          <button class="search" @click="fetch">Search</button>
        </div>
        <div class="inline-item filter-input">
          Filter: <input name="query" v-model="searchQuery">
        </div>
      </div>
      <news-grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </news-grid>
    div
      p
        strong Note:
      ul
        li The correct Predict is in <strong>bold</strong> font.
        li Day-on-day: use the 




block scripts
  // all .js
  script(src="https://cdn.jsdelivr.net/npm/vue")
  script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5")
  script(src=url_for("/dist/js/app.js"))
